<!-- <html lang="en">
  <head> </head>
  <body class="container">
    <form action="/photos/photo" method="post" enctype="multipart/form-data">
      title: <input type="text" name="title" /> <br />
      image:<input type="file" name="image" /> <br />
      <input type="submit" value="Submit Image" />
    </form>
  </body>
</html> -->
