<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>

  <body>
    <h1>Create User</h1>
    <form action="/newUser" method="POST">
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="userName" placeholder="userName" />
      <input type="password" name="password" />
      <input type="submit" value="Create User" />
    </form>
  </body>
</html>
