<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>jurnalfy</title>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="styles/helpers.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css"
    />
    <script src="https://www.jsdelivr.com/package/npm/bulma"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <!-- <link rel="stylesheet" href="css/debug.css" /> -->

    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .hero-head a {
        color: white;
        font-weight: 700;
      }

      form {
        margin: 30px auto;
        width: 70%;
      }
    </style>
  </head>

  <body>
    <div class="center">
      <figure class="image center">
        <img src="/images/jurnalfy_single.png" style="max-width: 650px;" />
      </figure>
    </div>

    <div class="hero-head has-background-success has-text-white">
      <div class="columns is-mobile is-marginless">
        <div class="column center">
          <i class="fas fa-2x fa-door-open"></i>&nbsp;&nbsp;
          <p><a href="/home">Home</a></p>
        </div>
      </div>
    </div>

    <div class="container has-background-light">
      <form action="/search" method="POST" id="search">
        <div class="field">
          <label for="search">Search:</label>
          <p class="control has-icons-left has-icons-right">
            <input
              type="text"
              name="search"
              placeholder="Location"
              class="input"
            />
            <span class="icon is-small is-left">
              <i class="far fa-calendar-alt"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success">
              Search Travel History
            </button>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>
