<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>jurnalfy</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h1>Welcome</h1>
    <h2><a href="/newThought">Add A Note</a></h2>
    <h3>Your entries</h3>
    <div class="journalOverView">
      <%Journal.forEach((Journal, i)=>{ %>
      <table>
        <th>Date</th>
        <th>Thought</th>
        <th>Category</th>
        <tr>
          <td><%=Journal.date%></td>
          <td><%=Journal.thought%></td>
          <td><%=Journal.category%></td>
        </tr>
      </table>

      <%})%>
    </div>
  </body>
</html>
